<div id="github">
    <a href="https://github.com/ilDug/ngx-dragdrop">
        <span>
            <img src="assets/github.svg" alt="" title="fork me on github">
        </span>
    </a>
</div>
<div class="container">

    <div class="titles">
        <h1>ngx-dragdrop</h1>
        <h3>Angular directives for passing data with Drag & Drop</h3>

        <h4>dagDrag</h4>
        <p>Assign a value to an element witch will be dragged</p>
        <pre>&lt;div [dagDrag]="item" &gt; drag me &lt;/div&gt;</pre>

        <h4>dagDrop</h4>
        <p>Listen for the drop event and get dropped data</p>
        <pre>&lt;div (dagDrop)="useItem($event)" &gt; drop here &lt;/div&gt;</pre>

    </div>

    <div class="example">

    </div>
</div>